<!DOCTYPE html>
<html>
{% load static %}
<head> <link rel="stylesheet" href="{% static 'css/style.css' %}"> </head>
<body>
    <header class="header">
        <a class="logo">How Many</a>
        <div class="header-right">
            <a class="active">من!</a>
            <a href="/">اصلی</a>
        </div>
    </header>
    <div class="div" align="center">
        <img src="{% static 'img/me.png' %}" width="8%" height="8%" style="margin-top: 14px">
        <h1>سلام!</h1>
        <h3>خب این منم! امیر محمدی</h3>
        <h3>همون «پسرک کامپیوتر پیشه» جویای نام (:</h3>
        <h3>عاشق ور رفتن با یه سری موجود دودویی که ظاهرا بهشون میگن کامپیوتر!</h3>
        <a class="link" href="github.com/amiremohamadi">github.com/amiremohamadi</a>
    </div>
</body>
</html>